html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "JetBrains", monospace;
}

body {
    background-color: 00184E;
    background-image: url(image/wlppdegrade1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    color: black;
    text-align: left;
    padding: 0;
}

.contact {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    margin-bottom: -1rem;
}

.parcivalfr {
    font-size: 5.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
}

.soon {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    margin-top: -1rem;
 }